[submodule "deps/gflags"]
	path = deps/src/gflags
	url = https://github.com/gflags/gflags.git
[submodule "deps/libuv"]
	path = deps/src/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/asio"]
	path = deps/src/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "deps/src/flatbuffers"]
	path = deps/src/flatbuffers
	url = https://github.com/google/flatbuffers.git
