[submodule "deps/gflags"]
	path = deps/gflags
	url = https://github.com/gflags/gflags.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
